{% extends 'base.html.twig' %}

{% block body %}

	<div class="d-flex align-items-center py-4 bg-body-tertiary">

		<main class="form-signin w-100 m-auto">
			<h1 class="h3 mb-3 fw-normal">Reset Your Password</h1>
			{{ form_start(form) }}
				{% for type, messages in app.flashes %}
					{% if type == 'set_password_error' %}
						{% for message in messages %}
							<p style="color: red;">{{ message }}</p>
						{% endfor %}
					{% endif %}
				{% endfor %}
			{{ form_widget(form) }}
			<button type="submit" class="btn btn-primary">Reset Password</button>
			{{ form_end(form) }}
		{% endblock %}
